*{
    margin: 0;
    padding: 0;
    color:beige;

}
body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210810/pngtree-dark-red-abstract-smoke-cloud-dark-color-background-image_759871.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
}   

h1{
    font-size: 7vw;
    color: red;
    text-shadow: 2px 2px 50px red;
    padding: 0px 20px;
}

.sticky-nav{
    position: sticky;
    box-shadow: 0px 23px 20px rgb(255, 20, 0);
    background-color: black;
    height: 10vw;
    align-self: start;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logo{
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: flex-start;
    height: 8vw;
    padding-left: 2vw;
}

#tabs {
    display: inline-flex;
    
    
    list-style: none;

    background-color: rgba(0, 0, 0, 0.35);
    border: 1vw solid rgb(250, 1, 1);
    outline: 2px solid rgb(255, 0, 0);
    outline-offset: 2px;
    border-radius: 8px;

    box-shadow: 0 0 20px rgb(255, 2, 2);
    text-shadow: 0 0 10px rgb(241, 11, 11);

    font-size: 2vw;
    gap: 8vw;
    margin: 0;
    padding: 1vw 2vw;
    margin-right: 1vw;
    
}
