:root{
    --color:rgb(153, 0, 255);
    --color2:rgb(153, 0, 255);
    --color3: rgba(153, 0, 255, 0.438);
}
*{
    margin: 0;
    padding: 0;
    color:beige;

}
body{
    background-image: url("https://giffiles.alphacoders.com/224/224617.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: fixed; */
    min-height: 100vh; 
}   

.name{
    padding: 0.8vw 10px;
    font-size: 1.5vw;
    color: rgb(153, 0, 255);
    text-shadow: 2px 2px 50px purple;

}

.sticky-nav{
    position: sticky;
    box-shadow: 1px 2px 13px var(--color3);
    background-color: black;
    height: 4vw;
    align-self: start;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#logo{
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    height: 3vw;
    padding-left: 2vw;
}

#tabs {
    display: inline-flex;
    
    
    list-style: none;

    background-color: rgba(0, 0, 0, 0.35);
   
    /* text-shadow: 0 0 10px var(--color2); */

    font-size: 1.5vw;
    gap: 8vw;
    margin: 0;
    padding: 1vw 2vw;
    margin-right: 2vw;
    
}
