body{
    background-color: rgb(153, 35, 35);
}
td{
    border: 2px solid black;
}



#introLabel{
    background-color: red;
}

.introText{
    color: rgb(217, 255, 0);
}

a:hover{
    color: rgb(195, 0, 255);
}

a:visited{
    color: coral;
}

